.top-div {
    border-bottom: 1px solid gray; 
}

.left-div {
    float: left;
    margin: 10px 100px;
}

.left-div a {
    text-decoration: none;
    color: black;
}

.left-div a:hover {
    text-decoration: underline;
}

.left-div img {
    vertical-align: middle;
}

.right-div {
    float: right;
    margin: 8px 30px;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

.search-bar img {
    border: 1px solid black;
    border-left: 0; 
    vertical-align: top;
    padding: 12px;
    background-color: white;
}

.search-bar input {
    border: 1px solid black;
    border-right: 0; 
    padding: 10px 10px;
}

form input {
    font-size: 17px;
}

.top-nav li {
    list-style: none;
    display: inline-block;

}

.top-nav a {
    text-decoration: none;
    border: 1px solid grey;
    padding: 2px 10px;
    background-color: rgb(215, 215, 215);
    color: black;
}

.top-nav a:hover {
    background-color: darkkhaki;
}

.top-nav {
    float: right;
    margin: 20px 30px;
}

.search-bar {
    float: left; 
    text-align: center;
    margin: 20px 0px 20px 190px;
    font-size: 0;
    margin-left: 200px;
}

.bottom-head {
    border-bottom: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

.bottom-head::after{
    content: ' ';
    display: block;
    clear: both;
}

